[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "glmm"]
	path = glmm
	url = https://github.com/cran/glmm
[submodule "stableGR"]
	path = stableGR
	url = https://github.com/cran/stableGR
